@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;600;700;800&family=Montserrat&display=swap');

* {
  font-family: Inknut Antiqua, serif;
}

body {
  background-color: rgb(227, 230, 231);
  font-weight: 700;
  font-size: medium;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 90px;
}

.trybewarts-login {
  display: flex;
  align-self: center;
}

.trybewarts-header-logo {
  height: 70px;
  align-self: center;
}

main {
  display: flex;
  justify-content: space-around;
}

#trybewarts-header-title {
  color: white;
  align-self: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.family-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#teste2 {
  display: flex;
  justify-content: space-between;
}

.container-2 {
  display: flex;
  align-items: center;
}

.container-1 {
  display: flex;
  align-items: flex-start;
}

.space-checkbox {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#label-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contents {
  display: flex;
  align-items: flex-start;
  width: 80%;
  flex-wrap: wrap;
  align-content: space-around;
}

.rating {
  display: flex;
}

#id-textarea {
  resize: none;
}

#teste1 {
  display: flex;
  flex-direction: column;
}

#teste1 h1 {
  align-self: center;
}

.container-btn {
  display: flex;
  justify-content: center;
}

#form {
  border-radius: 8px;
  width: 30%;
  margin-right: 2%;
  border: none;
}

#input-password {
  border-radius: 8px;
  width: 30%;
  margin-right: 2%;
  border: none;
}

#btn-login {
  border-radius: 8px;
  background-color: rgb(96, 39, 119);
  color: white;
  width: 30%;
  margin-right: 2%;
  border: none;
  font-weight: 700;
}

#input-name {
  border-radius: 8px;
  border: none;
  height: 45px;
  width: 45%;
  margin-bottom: 10px;
}

#input-lastname {
  border-radius: 8px;
  border: none;
  height: 45px;
  width: 45%;
  margin-bottom: 10px;
}

#input-email {
  border-radius: 8px;
  border: none;
  height: 45px;
  width: 45%;
}

#house {
  border-radius: 8px;
  background-color: white;
  border: none;
  height: 45px;
  width: 38%;
}

#submit-btn {
  background-color: rgb(96, 39, 119);
  color: white;
  border-radius: 8px;
  font-weight: 700;
  flex-grow: 1;
}

#submit-btn[ disabled ] {
  background-color: gray;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

hr {
  width: 100%;
}

#input-checkbox {
  margin: 10px;
}
