    .header {
        display: flex;
        background-color: rgb(50, 167, 145);
        justify-content: space-between;
    }

    .trybewarts-login {
        display: flex;
        align-self: center 
    }

    .trybewarts-header-logo {
        height: 70px;
        align-self: center;
    }

    main {
        display: flex;
    }

    #evaluation-form {
        display: flex;
        width: 675px;
        flex-direction: column;
    }

    #trybewarts-forms-logo {
        height: 500px;
    }

    .family-container {
        display: flex;
        flex-direction: column;
    }

    #teste {
        display: flex;
        justify-content: space-around;        
    }

    #teste1 {
       
    }

    .container-2 {
        display: flex;
        width: 50%;
        align-items: center;
    }

    .container-1 {
        display: flex;
        width: 50%;
        align-items: flex-start;
    }

